
@font-face {
	font-family: 'intro_regular';
	src: url("");
	src: url("intro-regular-webfont.eot") format('embedded-opentype'),
		url("intro-regular-webfont.woff") format('woff'),
		url("intro-regular-webfont.ttf") format('truetype'),
		url("intro-regular-webfont.svg") format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'intro_bold';
	src: url("");
	src: url("intro-bold-webfont.eot") format('embedded-opentype'),
		url("intro-bold-webfont.woff") format('woff'),
		url("intro-bold-webfont.ttf") format('truetype'),
		url("intro-bold-webfont.svg") format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'intro_bookregular';
	src: url("");
	src: url("") format('embedded-opentype'),
		url("") format('woff'),
		url("") format('truetype'),
		url("") format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'sibir-cleaning';
  src:  url("");
  src:  url("sibir-cleaning.eot") format('embedded-opentype'),
    url("sibir-cleaning.ttf") format('truetype'),
    url("sibir-cleaning.woff") format('woff'),
    url("sibir-cleaning.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon--"], [class*=" icon--"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sibir-cleaning' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--angle-left:before {
  content: "\f104";
}
.icon--angle-right:before {
  content: "\f105";
}
.icon--angle-up:before {
  content: "\f106";
}
.icon--angle-down:before {
  content: "\f107";
}
.icon--close:before {
  content: "\e5cd";
}
.icon--phone:before {
  content: "\e900";
}
.icon--menu:before {
  content: "\e901";
}
/* General */
.menuOpen, .menuOpen body, .phoneOpen, .phoneOpen body {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y:hidden;
}
.mobile__menu--back, .mobile__phone--back{
	display: none;
}
.mobile__phone{
	right: -275px;
	-webkit-transition: all 0.15s ease;
	-o-transition: all 0.15s ease;
	transition: all 0.15s ease;
}
.mobile__menu{
	left: -280px;
	-webkit-transition: all 0.15s ease;
	-o-transition: all 0.15s ease;
	transition: all 0.15s ease;
}
.menuOpen .mobile__menu--back, .phoneOpen .mobile__phone--back {
	display: block;
}
.menuOpen .mobile__menu{
	left: 0;
}
.phoneOpen .mobile__phone{
	right: 0;
}
.phoneOpen .mobile-header__phone .icon--phone{
	color: #0ee931;
}
.menuOpen .mobile-header__menu i:before{
	content: "\e5cd";
	font-size: 20px;
}
.companyDev{
	text-align: center;
	padding: 10px 0 0;
	margin-bottom: 0;
}
.companyDev a{
	text-decoration: underline;
}
.footer__tel{
    color: #78786a;
    text-decoration: none!important;
}

html,body {
	height:100%;
	margin:0;
	padding:0;
	border:0;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	font-weight:400;
	color:#222;
	position:relative;
}
a, button, .btn {
	outline:none !important;
}
button, .btn {
	font-family: 'intro_bold';
	text-transform:uppercase;
	border-radius:0;
	outline:none !important;
	border:none !important;
	padding: 20px 26px;
	font-size: 14px;
	line-height:0.8;
	box-shadow:none !important;
	text-decoration:none !important;
}
.btn-primary {
	background:#ef6650;
	color:#fff !important;
}
.btn-primary:hover, .btn-primary:focus {
	background:#f64747;
}
.btn-default {
	background:#23b79a;
	color:#fff !important;
}
.btn-default:hover, .btn-default:focus {
	background:#3fc5ab;
}
.btn-info {
	background:#2298cf;
	color:#fff !important;
}
.btn-info:hover, .btn-info:focus {
	background:#34aadb;
}
.btn-inversed {
	background:none;
	border:2px solid #fff !important;
	color:#fff !important;
}
.btn-inversed:hover, .btn-inversed:focus {
	background:#fff;
	color:#444 !important;
}
.btn i {
	margin-right:10px;
}


*::selection {background:#2298cf;color:#fff;}
*::-moz-selection {background:#2298cf;color:#fff;}
*::-webkit-selection {background:#2298cf;color:#fff;}

hr {
	margin:20px 0;
}
h1, h2, h3, h4 {
	font-family: 'intro_bold';
	font-weight:normal;
}

	
h1 {
	font-size:38px;
	margin:0;
	line-height:1;
	letter-spacing:-.5px;
}
h2 {
	font-size:27px;
	margin:0 0 20px;
	line-height:1;
}
h3 {
	font-size:25px;
	margin:0 0 20px;
	line-height:1;
	text-transform:uppercase;
}
h4 {
	text-transform:uppercase;
	font-size:16px;
	margin:0 0 15px;
}
.small-header {
	background:url("tree.png") repeat-x center;
	text-align:center;
	margin:16px 0 0;
	min-height:20px;
}
.small-header h4 {
	display:inline-block;
	background:#fff;
	padding:0 28px;
	margin:0;
	color:#95A5A6;
}



a {
	color:#2298cf;
}
a:hover, a:focus {
	color:#32aadc;
}
.page-content a {
	text-decoration:none !important;
	color:#32aadc;
	border-bottom:1px solid;
	display:inline-block;
}
.page-content a:hover, .page-content a:focus {
	color:#2298cf;
}
.small-text {
	font-size:13px;
	color:#666;
}




.form-control {
	color:#323c3d;
	font-size:15px;
	border-radius:0;
	box-shadow:none !important;
	border:1px solid #c7d3d8 !important;
	height: 44px;
	background:none;
}
.form-control:focus {
	border-color:#23b79a !important;
}
textarea {
	resize:vertical;
}
label {
	font-weight:normal;
}




.row {
	margin:0;
	position:relative;
}
.container {
	position:relative;
	width:1070px !important;
	max-width:none !important;
	padding:0;
}
.wrapper {
	/*max-width:1450px;
	margin:0 auto;*/
}



/* Header */
.header {
	background:#2298CF;
	height:155px;
	border-top: 10px solid #1d8abc;
}
.logo {
	display:block;
	position:absolute;
	left:0;
	top:27px;
	width:245px;
}
.big-nav {
	margin:0;
	padding:0;
	list-style:none;
	position:absolute;
	left:300px;
	top:42px;
}
.big-nav li {
	display:inline-block;
	margin-right:17px;
}
.big-nav li a {
	font-family: 'intro_regular';
	font-size:15px;
	text-transform:uppercase;
	line-height:1;
	display:block;
	color:#fff !important;
	text-decoration:none !important;
	padding-bottom:3px;
	border-bottom:2px solid;
}
.big-nav li a:hover {
	border-color:#97d4ec;
}
.small-nav {
	margin:0;
	padding:0;
	list-style:none;
	position:absolute;
	left:300px;
	top:84px;
}
.small-nav li {
	display:inline-block;
	margin-right:17px;
}
.small-nav li a {
	font-size:14px;
	letter-spacing: -.3px;
	line-height:1;
	display:block;
	color:#fff !important;
	text-decoration:none !important;
	padding-bottom:4px;
	border-bottom:1px solid #89c4dd;
}
.small-nav li a:hover {
	border-bottom:2px solid #fff;
}

.top-phone {
	position:absolute;
	right:0;
	top:17px;
}
.top-phone p {
	font-size:12px;
	color:#b8e3f4;
	margin:0 0 4px;
}
.phone {
	font-family: 'intro_bold';
	font-size:22px;
	line-height:1.2;
	color:#fff;
	letter-spacing: -.5px;
}
.phone span {
	font-family: 'intro_regular';
	color:#b8e3f4;
}
.btn-order_call {
	font-family: 'intro_bold';
	font-size:11.5px;
	text-transform:uppercase;
	text-decoration:none !important;
	display:block;
	margin-top:11px;
	background:#23b79a;
	color:#fff !important;
	padding: 12px;
	text-align: center;
}
.btn-order_call:hover, .btn-order_call:focus {
	background:#3fc5ab;
}
.btn-order_call i {
	margin-right: 8px;
	font-size: 14px;
}





/* Main slider */
.main-slider {
	background:#ebf8fa;
	overflow:hidden;
}
.main-slider .bx-wrapper {
	margin:-93px 0 0 0;
}
.main-slider .bx-wrapper .bx-viewport {
	padding:0;
	margin:0;
	box-shadow:none;
	border:none;
	left:auto;
	background:none;
}
#main-slider {
	padding:0;
	margin:0;
	list-style:none;
}
#bx-pager {
	text-align:center;
	padding-top:35px;
	background: url("tri-blue.png") repeat-x center top;
	height:93px;
	position:relative;
	z-index:1;
}
#bx-pager a {
	display:inline-block;
	position:relative;
	font-family: "intro_bold";
	font-size:18px;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1;
	text-decoration:none !important;
	color:#111 !important;
	background:#fff;
	padding:20px 0;
	width:270px;
	margin:0 8px;
}
#bx-pager a.active {
	color:#fff !important;
	background:#2298cf;
}
#bx-pager a.active:after {
	position:absolute;
	z-index:1;
	display:block;
	content:"";
	width:31px;
	height:12px;
	background:url("") no-repeat;
	top:100%;
	left:50%;
	margin-left:-15px;
}


#main-slider .container {
	position:relative;
	height:580px;
	top:93px;
	width:980px !important;
}
#main-slider .btn {
	font-size:15px;
	position: absolute;
	bottom: 54px;
	width:320px;
	left:50%;
	margin-left:-160px;
}

#slide1 {
	width:100%;
	height:673px;
	background:url("") no-repeat center #e9f1f4;
	overflow:hidden;
}
#slide2 {
	width:100%;
	height:673px;
	background:url("") no-repeat center #e9f1f4;
	overflow:hidden;
}
#slide3 {
	width:100%;
	height:673px;
	background:url("") no-repeat center #e9f1f4;
	overflow:hidden;
}

a .marker {
	color: #000;
	cursor: pointer;
}
.marker {
	background:none;
	position:absolute;
	cursor:default;
	min-width:64px;
	min-height:64px;
	width:64px;
	height:67px;
	border-radius:70px;
	overflow:hidden;
	z-index: 4;
	-webkit-transition:all .2s ease;
	transition:all .2s ease;
}
.marker:hover {
	background:#fff;
	width:auto;
	height:auto;
	border-radius:0;
}
.marker-icon {
	position:relative;
	width:28px;
	height:37px;
	background:url("") no-repeat;
	margin:15px 18px;
	-webkit-transition:top .2s ease;
	transition:top .2s ease;
}
.anim1 {
	-webkit-animation: MarkerAnim 1s infinite;
	-moz-animation:    MarkerAnim 1s infinite;
	-o-animation:      MarkerAnim 1s infinite;
	animation:         MarkerAnim 1s infinite;
}
.anim2 {
	-webkit-animation: MarkerAnim2 1s infinite;
	-moz-animation:    MarkerAnim2 1s infinite;
	-o-animation:      MarkerAnim2 1s infinite;
	animation:         MarkerAnim2 1s infinite;
}
.marker:hover .marker-icon {
	-webkit-animation:none;
	-moz-animation:none;
	-o-animation:none;
	animation:none;
}

.left-marker .marker-icon {
	float:left;
	margin-right:18px;
}
.right-marker .marker-icon {
	float:right;
	margin-left:18px;
}
.marker p {
	margin:0;
	opacity:0;
	-webkit-transition:opacity .3s ease;
	transition:opacity .3s ease;
}
.marker:hover p {
	opacity:1;
}
.left-marker p {
	padding:15px 18px 15px 0;
	float:right;
}
.right-marker p {
	padding:15px 0 15px 18px;
	float:left;
	text-align:right;
}
#marker2-1 {
	top:213px;
	left:-277px;
}
#marker2-2 {
	top:155px;
	left:-23px;
}
#marker2-3 {
	top:247px;
	left:15px;
}
#marker2-4 {
	top:305px;
	left:64px;
}
#marker2-5 {
	top:114px;
	left:185px;
}
#marker2-6 {
	top:162px;
	left:356px;
}
#marker2-7 {
	top:387px;
	left:323px;
}
#marker2-8 {
	top:56px;
	right:400px;
}
#marker2-9 {
	top:275px;
	right:354px;
}
#marker2-10 {
	top:404px;
	right:149px;
}
#marker2-11 {
	top:170px;
	right:126px;
}
#marker2-12 {
	top:436px;
	right:-51px;
}
#marker2-13 {
	top:237px;
	right:-82px;
}
#marker2-14 {
	top:220px;
	right:-402px;
}
#marker3-1 {
	top:210px;
	left:178px;
}
#marker3-2 {
	top:160px;
	right:347px;
}
#marker3-3 {
	top:182px;
	right:117px;
}
#marker1-1 {
	top:274px;
  	left: 3px;
}
#marker1-2 {
	top:53px;
	left:79px;
}
#marker1-3 {
	top:335px;
  	left:102px;
}
#marker1-4 {
	top:160px;
	left:184px;
	z-index:6;
}
#marker1-5 {
	top:120px;
  	left: 361px;
	z-index:5;
}
#marker1-6 {
	top:285px;
	left:422px;
}
#marker1-7 {
	top:317px;
    right: 273px;
	z-index:3;
}
#marker1-8 {
	top:118px;
  right: 302px;
}
#marker1-9 {
	top:183px;
  right: 185px;
}
#marker1-10 {
	top:332px;
  right: -4px;
}
#marker1-11 {
	top:95px;
  right: 53px;
}
#marker1-12 {
	top:221px;
  right: 462px;
}



#anim-kid {
	background:url("") no-repeat;
	width:66px;
	height:96px;
	position:absolute;
	top:248px;
	left:96px;
	-webkit-transition:top .1s ease-out;
	transition:top .1s ease-out;
	-webkit-animation: KidAnim 1s infinite;
	-moz-animation:    KidAnim 1s infinite;
	-o-animation:      KidAnim 1s infinite;
	animation:         KidAnim 1s infinite;
}
.microwave {
	position:absolute;
	top: 114px;
	left: -22px;
	width: 77px;
	height: 44px;
}
#anim-cat {
	background:url("") no-repeat 0px 40px;
	width:31px;
	height:39px;
	position:absolute;
	top:111px;
	left:-92px;
	visibility:hidden;
	-webkit-transition:all .1s ease-out;
	transition:all .1s ease-out;
}
.microwave:hover #anim-cat {
	visibility:visible;
	-webkit-animation: CatAnim 3s forwards;
	-moz-animation:    CatAnim 3s forwards;
	-o-animation:      CatAnim 3s forwards;
	animation:         CatAnim 3s forwards;
}
.duck {
	position:absolute;
	top: 307px;
	right: -144px;
	width: 34px;
	height: 26px;
}
#anim-cat2 {
	background:url("") no-repeat 0px 40px;
	width:31px;
	height:39px;
	position:absolute;
	top:-17px;
	right:49px;
	visibility:hidden;
	-webkit-transition:all .1s ease-out;
	transition:all .1s ease-out;
}
.duck:hover #anim-cat2 {
	visibility:visible;
	-webkit-animation: CatAnim 3s forwards;
	-moz-animation:    CatAnim 3s forwards;
	-o-animation:      CatAnim 3s forwards;
	animation:         CatAnim 3s forwards;
}
.cat {
	background:url("") no-repeat;
	width:28px;
	height:47px;
	position:absolute;
	cursor: -webkit-grab; cursor: -moz-grab; cursor: -o-grab; cursor: grab;
}
.cat.is-dragging {
	cursor: -webkit-grabbing; cursor: -moz-grabbing; cursor: -o-grabbing; cursor: grabbing;
}
#cat2-1 {
	top:215px;
	left:510px;
}
#cat3-1 {
	top:119px;
	left:-291px;
}
#cat3-2 {
	background:url("") no-repeat;
	width:31px;
	height:51px;
	top:293px;
	right:-291px;
}
.clock {
	background:url("") no-repeat;
	width:41px;
	height:41px;
	position:absolute;
	-webkit-animation: ClockAnim 60s linear infinite;
	-moz-animation:    ClockAnim 60s linear infinite;
	-o-animation:      ClockAnim 60s linear infinite;
	animation:         ClockAnim 60s linear infinite;
}
#clock1 {
	background:url("") no-repeat;
	width:32px;
	height:32px;
	top:91px;
	left:377px;
}
#clock2 {
	top:144px;
	left:618px;
}
#clock3 {
	top:144px;
	right:-294px;
}
.city-z {
	position:absolute;
	left:-247px;
	top:272px;
	width:1661px;
	height:26px;
	background:url("") no-repeat center;
	z-index:3;
}
.car {
	position:absolute;
}
#car1-1 {
	width:27px;
	height:13px;
	top:280px;
	right:-490px;
	background:url("") no-repeat center;
	-webkit-animation: CarAnim1 30s linear infinite;
	-moz-animation:    CarAnim1 30s linear infinite;
	-o-animation:      CarAnim1 30s linear infinite;
	animation:         CarAnim1 30s linear infinite;
}
#car1-2 {
	width:21px;
	height:10px;
	top:283px;
	right:200px;
	background:url("") no-repeat center;
	-webkit-animation: CarAnim2 44s linear infinite;
	-moz-animation:    CarAnim2 44s linear infinite;
	-o-animation:      CarAnim2 44s linear infinite;
	animation:         CarAnim2 44s linear infinite;
}
#car1-3 {
	width:35px;
	height:14px;
	top:427px;
	right:-620px;
	background:url("") no-repeat center;
	-webkit-animation: CarAnim6 51s linear infinite;
	-moz-animation:    CarAnim6 51s linear infinite;
	-o-animation:      CarAnim6 51s linear infinite;
	animation:         CarAnim6 51s linear infinite;
}
#car1-4 {
	width:21px;
	height:10px;
	top:430px;
	right:-620px;
	background:url("") no-repeat center;
	-webkit-animation: CarAnim6 29s linear infinite;
	-moz-animation:    CarAnim6 29s linear infinite;
	-o-animation:      CarAnim6 29s linear infinite;
	animation:         CarAnim6 29s linear infinite;
}
#car2-1 {
	width:27px;
	height:13px;
	top:427px;
	left:-490px;
	background:url("") no-repeat center;
	-webkit-animation: CarAnim3 35s linear infinite;
	-moz-animation:    CarAnim3 35s linear infinite;
	-o-animation:      CarAnim3 35s linear infinite;
	animation:         CarAnim3 35s linear infinite;
}
#car2-2 {
	width:21px;
	height:10px;
	top:280px;
	left:100px;
	background:url("") no-repeat center;
	-webkit-animation: CarAnim4 49s linear infinite;
	-moz-animation:    CarAnim4 49s linear infinite;
	-o-animation:      CarAnim4 49s linear infinite;
	animation:         CarAnim4 49s linear infinite;
}
#car2-3 {
	width:21px;
	height:10px;
	top:280px;
	left:-600px;
	background:url("") no-repeat center;
	-webkit-animation: CarAnim4 25s linear infinite;
	-moz-animation:    CarAnim4 25s linear infinite;
	-o-animation:      CarAnim4 25s linear infinite;
	animation:         CarAnim4 25s linear infinite;
}

.bed {
	position:absolute;
	left:-19px;
	top:290px;
	width:207px;
	height:74px;
	background:url("") no-repeat center;
	z-index:3;
}




@-webkit-keyframes MarkerAnim {
  0%   { top: 0; }
  50% { top: -4px; }
  100% { top: 0; }
}
@-moz-keyframes MarkerAnim {
  0%   { top: 0; }
  50% { top: -4px; }
  100% { top: 0; }
}
@-o-keyframes MarkerAnim {
  0%   { top: 0; }
  50% { top: -4px; }
  100% { top: 0; }
}
@keyframes MarkerAnim {
  0%   { top: 0; }
  50% { top: -4px; }
  100% { top: 0; }
}
@-webkit-keyframes MarkerAnim2 {
  0%   { top: 0; }
  50% { top: 4px; }
  100% { top: 0; }
}
@-moz-keyframes MarkerAnim2 {
  0%   { top: 0; }
  50% { top: 4px; }
  100% { top: 0; }
}
@-o-keyframes MarkerAnim2 {
  0%   { top: 0; }
  50% { top: 4px; }
  100% { top: 0; }
}
@keyframes MarkerAnim2 {
  0%   { top: 0; }
  50% { top: 4px; }
  100% { top: 0; }
}
@-webkit-keyframes KidAnim {
  0%   { top: 248px; }
  50% { top: 230px; }
  100% { top: 248px; }
}
@-moz-keyframes KidAnim {
  0%   { top: 248px; }
  50% { top: 226px; }
  100% { top: 248px; }
}
@-o-keyframes KidAnim {
  0%   { top: 248px; }
  50% { top: 226px; }
  100% { top: 248px; }
}
@keyframes KidAnim {
  0%   { top: 248px; }
  50% { top: 226px; }
  100% { top: 248px; }
}
@-webkit-keyframes CatAnim {
  0%   {background-position:0px 40px;}
  50% {background-position:0px 0px;}
  100% {background-position:0px 40px;}
}
@-moz-keyframes CatAnim {
  0%   {background-position:0px 40px;}
  50% {background-position:0px 0px;}
  100% {background-position:0px 40px;}
}
@-o-keyframes CatAnim {
  0%   {background-position:0px 40px;}
  50% {background-position:0px 0px;}
  100% {background-position:0px 40px;}
}
@keyframes CatAnim {
  0%   {background-position:0px 40px;}
  50% {background-position:0px 0px;}
  100% {background-position:0px 40px;}
}
@-webkit-keyframes ClockAnim {
  0%   {-webkit-transform:rotate(0deg);}
  100% {-webkit-transform:rotate(360deg);}
}
@-moz-keyframes ClockAnim {
  0%   {-moz-transform:rotate(0deg);}
  100% {-moz-transform:rotate(360deg);}
}
@-o-keyframes ClockAnim {
  0%   {-o-transform:rotate(0deg);}
  100% {-o-transform:rotate(360deg);}
}
@keyframes ClockAnim {
  0%   {transform:rotate(0deg);}
  100% {transform:rotate(360deg);}
}
@-webkit-keyframes CarAnim1 {
  0%   {right:-490px;}
  100% {right:1450px;}
}
@-moz-keyframes CarAnim1 {
  0%   {right:-490px;}
  100% {right:1450px;}
}
@-o-keyframes CarAnim1 {
  0%   {right:-490px;}
  100% {right:1450px;}
}
@keyframes CarAnim1 {
  0%   {right:-490px;}
  100% {right:1450px;}
}
@-webkit-keyframes CarAnim2 {
  0%   {right:200px;}
  100% {right:1450px;}
}
@-moz-keyframes CarAnim2 {
  0%   {right:200px;}
  100% {right:1450px;}
}
@-o-keyframes CarAnim2 {
  0%   {right:200px;}
  100% {right:1450px;}
}
@keyframes CarAnim2 {
  0%   {right:200px;}
  100% {right:1450px;}
}
@-webkit-keyframes CarAnim3 {
  0%   {left:-490px;}
  100% {left:1450px;}
}
@-moz-keyframes CarAnim3 {
  0%   {left:-490px;}
  100% {left:1450px;}
}
@-o-keyframes CarAnim3 {
  0%   {left:-490px;}
  100% {left:1450px;}
}
@keyframes CarAnim3 {
  0%   {left:-490px;}
  100% {left:1450px;}
}
@-webkit-keyframes CarAnim4 {
  0%   {left:100px;}
  100% {left:1450px;}
}
@-moz-keyframes CarAnim4 {
  0%   {left:100px;}
  100% {left:1450px;}
}
@-o-keyframes CarAnim4 {
  0%   {left:100px;}
  100% {left:1450px;}
}
@keyframes CarAnim4 {
  0%   {left:100px;}
  100% {left:1450px;}
}
@-webkit-keyframes CarAnim5 {
  0%   {left:-600px;}
  100% {left:1550px;}
}
@-moz-keyframes CarAnim5 {
  0%   {left:-600px;}
  100% {left:1550px;}
}
@-o-keyframes CarAnim5 {
  0%   {left:-600px;}
  100% {left:1550px;}
}
@keyframes CarAnim5 {
  0%   {left:-600px;}
  100% {left:1550px;}
}
@-webkit-keyframes CarAnim6 {
  0%   {right:-620px;}
  100% {right:1512px;}
}
@-moz-keyframes CarAnim6 {
  0%   {right:-620px;}
  100% {right:1512px;}
}
@-o-keyframes CarAnim6 {
  0%   {right:-620px;}
  100% {right:1512px;}
}
@keyframes CarAnim6 {
  0%   {right:-620px;}
  100% {right:1512px;}
}






/* Clients */
.clients {
	padding:50px 0;
	background:#f6f5ef;
}
.clients h4 {
	font-size:20px;
	background:#f6f5ef;
}
.clients .small-header {
	margin:0 0 50px;
}
.client-logo {
	float:left;
	width:14.25%;
}
.client-logo img {
	margin:10px auto;
}



/*Content*/
.page-head {
	padding:35px 0 30px;
	color:#333;
	background:url("tri-blue.png") repeat-x top #fff;
	text-align:center;
}
.page-head h4 {
	margin:0;
}
.page-content {
	background:#e9f1f3;
}


.left-block {
	overflow:hidden;
	margin:20px 0;
	background:#fff;

}
.step-block {
	padding:35px 20px 25px 35px;
	border-bottom:3px solid #E9F1F3;
}
.step-block .col-xs-6 {
	padding:0 20px 0 0;
}
.step-block .col-xs-4 {
	padding:0 20px 0 0;
}
.step-block h4 {
	font-family: "intro_regular";
	font-size:19px;
	letter-spacing: -.3px;
	text-transform:none;
	color: #333;
	margin:10px 0 20px;
}
.step-header {
	font-family: 'intro_bold';
	text-transform:uppercase;
	font-size:15px;
	margin-bottom:20px;
	color:#333;
}
.step-header span {
	font-size:14px;
	display:inline-block;
	margin-right:12px;
	width:26px;
	height:26px;
	line-height:23px;
	border-radius:26px;
	text-align:center;
	color: #fff;
	border: 2px solid #ee7c68;
	background:#ee7c68;
}
.nav-tabs {
    border:none;
}
.nav-tabs > li {
    width:50%;
    padding:5px 20px 10px 0;
}
.nav-tabs > li > a {
	font-size:15px;
	font-weight:600;
	color:#353d3e !important;
	line-height:.7;
	text-align:center;
	padding:20px 15px;
    margin:0;
    border-radius:0;
    border:1px solid #c7d3d8 !important;
	background:#fff !important;
	text-decoration:none !important;
}
.nav-tabs > li > a:hover {
	background:#f2f7f9 !important;
}
.nav-tabs > li.active > a {
	color:#fff !important;
	background:url("") no-repeat 14px center #2298cf !important;
    border-color:#2298cf !important;
}

.special-list {
	margin:0 0 15px 0;
	padding: 0 0 0 5px;
	list-style:none;
}
.special-list li {
	padding-left:26px;
	background:url("") no-repeat left;
	margin-bottom:12px;
}


.square input {
	width:62px !important;
	float:left;
	margin-left:-1px;
	font-weight:600;
}
.square label {
	display:inline-block;
	position:relative;
	top:-17px;
	left:10px;
}
.bootstrap-touchspin {
	width:150px;
	display:inline-block;
}
.bootstrap-touchspin .input-group-btn {
	width:44px;
	height:44px;
	float:left;
	display:block;
}
.bootstrap-touchspin .btn {
	font-family: 'Open Sans', sans-serif;
	font-size:22px;
	font-weight:400;
	background:none !important;
	border:1px solid #c7d3d8 !important;
	color:#333 !important;
	padding:0;
	width:44px;
	height:44px;
	line-height:44px;
	margin:0;
}
.bootstrap-touchspin .btn:hover {
	background:#f2f7f9 !important;
}



.custom-radio label {
	font-size: 14px;
	font-weight:600;
	color: #353D3E;
	line-height: 0.7;
	text-align: center;
	padding: 20px 15px;
	background:#fff;
    border:1px solid #c7d3d8;
	cursor: pointer;
	display: block;
	margin-bottom: 15px;
}
.custom-radio label:hover {
	background:#f2f7f9;
}
.custom-radio input {
	display:none;
}
.custom-radio input[type="radio"]:checked + label {
	background:url("") no-repeat 14px center #fff;
	padding: 19px 14px;
    border:2px solid #23b79a;
}
.custom-checkbox label {
	font-size: 14px;
	font-weight:600;
	color: #353D3E;
	line-height: 0.7;
	text-align: center;
	padding: 20px 15px;
	background:#fff;
    border:1px solid #c7d3d8;
	cursor: pointer;
	display: block;
	margin-bottom: 15px;
}
.custom-checkbox label:hover {
	background:#f2f7f9;
}
.custom-checkbox input {
	display:none;
}
.custom-checkbox input[type="checkbox"]:checked + label {
	background:url("") no-repeat 14px center #fff;
	padding: 19px 14px;
    border:2px solid #23b79a;
}

.btn-submit {
	width:100%;
}


.right-block {
	float:right;
	width:350px;
	margin:20px 0 20px 20px;
}
.right-block .step-header {
	border-bottom:1px solid #C7D3D8;
	padding-bottom:15px;
}
.price-block {
	background:#fff;
	margin-bottom:20px;
	padding: 35px 30px 25px;
}
.s-type {
	line-height:28px;
	margin-bottom:10px;
	padding-left:30px;
	background:url("") no-repeat left;
}
.s-square {
	line-height:28px;
	margin-bottom:10px;
	padding-left:30px;
	background:url("") no-repeat left;
}
.s-period {
	line-height:28px;
	margin-bottom:10px;
	padding-left:30px;
	background:url("") no-repeat left;
}
.s-more {
	margin-bottom:15px;
    display: none;
    font-weight: 600;
}
#s-more {
    font-weight: 400;
}
.s-price {
	padding-top:20px;
	border-top:1px solid #C7D3D8;
	margin-top:20px;
}
.s-price span {
	font-family: 'intro_bold';
	font-size:25px;
	letter-spacing:-.5px;
	margin-left:2px;
	display:inline-block;
	color:#EE7C68;
}




/* FAQ */
.faq-block {
	background:#fff;
	padding: 35px 30px 25px;
	margin-bottom:20px;
}
.faq-item {
	border-bottom:1px solid #fff;
}
.faq-question {
	color:#333 !important;
	text-decoration:none !important;
	display:block;
	margin:10px 0;
	padding-left:18px;
	background:url("") no-repeat left 4px;
	border:none !important;
	font-weight:600;
}
.faq-question.collapsed {
	background:url("faq-question.png") no-repeat left 4px;
}
.faq-answer {
	padding-left:18px;
}
#faq-grid {
    margin:20px auto;
	width:860px;
}
.faq {
	padding:0 10px 20px;
	width:50%;
}
.faq-wrap {
	padding:18px 20px 22px 56px;
	background:url("") no-repeat 18px 20px #fff;
}
.faq-open-question {
	font-size:16px;
	font-weight:600;
	border-bottom:1px dashed #95A5A6 !important;
	display:inline !important;
	color:#111 !important;
}
.faq-open-question:hover {
	color:#2298cf !important;
	border-color:#2298cf !important;
}
.faq-info {
	display:none;
	width:580px;
	padding:60px 70px;
	font-size:16px;
	background:#fff;
}
.faq-info h4 {
	color:#95A5A6;
}
.faq-info .small-header {
	margin-bottom:20px;
}
.faq-info .btn {
	margin-top:20px;
}






/* Discount */
.discount-block {
	background:#fff;
	padding: 35px 30px 25px;
	text-align:center;
}
.discount-block h4 {
	font-size:18px;
}
.action-block {
	background:#ee7c68;
	padding: 35px 30px 25px;
	color:#fff;
	margin-bottom:20px;
}
.action-block h4 {
	font-size:20px;
	color:#fff;
}


.tender-block {
	background:#d6e7eb;
	padding: 35px 30px 25px;
}
.tender-block .btn {
	margin-top:8px;
}


.simple-page {
	max-width:830px;
	margin:20px auto;
	background:#fff;
	padding:30px 40px;
}
.error-page {
	padding:70px 40px;
	text-align:center;
	background:url("") no-repeat bottom center;
}




/* Services */
.services {
	max-width:830px;
	margin:20px auto;
}
.services .nav-tabs {
    border:none;
	margin:0;
}
.services .nav-tabs img {
	display:block;
	margin:0 auto 10px;
}
.services .nav-tabs > li {
	width:33.3%;
	padding:0 10px 0 10px;
}
.services .nav-tabs > li > a {
	font-family: "intro_bold";
	font-size:17px;
	font-weight: normal;
	text-transform:uppercase;
	line-height:1;
	margin:0;
	background: #F2F7F9 !important;
	color: #111 !important;
	padding: 20px 15px;
	display:block;
	border:none !important;
	border-bottom:20px solid #E9F1F3 !important;
}
.services .nav-tabs > li > a:hover {
	background:#fff !important;
}
.services .nav-tabs > li.active > a, .services .nav-tabs > li.active > a:hover, .services .nav-tabs > li.active > a:focus {
	background: #fff !important;
	color: #111 !important;
	border-bottom:20px solid #fff !important;
}
.services .nav-tabs span {
	font-family: "Open Sans",sans-serif;
	font-size: 12px;
	font-weight: 400;
	text-transform:none;
	letter-spacing:normal;
	margin:10px 0 0;
    display: block;
}
.services .tab-content {
	background:#fff;
	margin:0 10px;
}
.services h2 {
    margin:0 0 25px;
    letter-spacing: -0.4px;
	padding: 0 0 0 38px;
	background: url("") no-repeat 0 2px;
}
.services h4 {
    color: #95A5A6;
}
.service {
	padding:30px 40px 20px;
	border-bottom: 3px solid #E9F1F3;
}

.services-right-nav ul{
	list-style-type:none;
	margin: 0;
	padding: 0;
}
.services-right-nav ul li {
	margin-bottom: 10px;
	background: url("faq-question.png") no-repeat left 4px;
}
.services-right-nav ul a {
	color: #000;
	border-bottom: none;
	font-weight: 600;
	padding-left: 18px;
}
.services-right-nav ul a.active {
	color: #2298cf;
}

div.right-block > div > div > ul > li:nth-child(1) > div.services-right-nav > ul {
	margin-bottom: 20px;
}




/*Footer*/
.footer {
	background:#e6e4da;
	color: #78786a;	
	font-size:13px;
	padding:70px 0;
}
.footer .col-xs-3 {
	padding:0 30px 0 0;
}
.footer h4 {
	color:#696955;
}
.footer-nav {
	margin:0;
	padding:0;
	list-style:none;
}
.footer-nav li a {
	display:inline-block;
	color: #78786a;
	padding-bottom:2px;
	border-bottom:1px solid #929283;
	text-decoration:none !important;
	line-height:1;
	margin-bottom:5px;
}
.footer-nav li a:hover, .footer-nav li a:focus {
	color: #5a5a4d;
}
.footer h4 {
	color:#696955;
}
.footer .btn-info {
	padding:14px 15px;
	font-size:12px;
}
.footer hr {
	border-color:#b9b9ac;
	margin:30px 0;
}
.mail {
	border-bottom:1px solid;
	text-decoration:none !important;
}
.aface {
	position:absolute;
	right:0;
	bottom:-8px;
	height:39px;
	width:39px;
	display:block;
	background:url("") no-repeat center;
	opacity:.6;
}
.aface:hover {
	opacity:1;
}






/* Forms */
.fancybox-overlay {
    background: url("") repeat;
}
.fancybox-skin {
	padding:0 !important;
	box-shadow:none !important;
}
.fancybox-lock {
	overflow:visible !important;
}
.fancybox-close {
    top: 15px;
    right: 15px;
    background: url("") no-repeat center !important;
}
.fancybox-nav {
    width: 110px;
}
.fancybox-prev span {
	width:40px;
	height:40px;
    left: 15px;
    background: url("") no-repeat 0 0;
}
.fancybox-next span {
	width:40px;
	height:40px;
    right: 15px;
    background: url("") no-repeat -40px 0;
}
.feedback-form {
	display:none;
	width:375px;
	background:#f5f5f5;
	padding:50px 55px 35px;
	color:#495758;
}
.feedback-form p {
	font-size: 13px;
	margin-bottom:25px;
}
.feedback-form hr {
	border-color:#bbb;
}
.feedback-form .btn {
	width:100%;
}
.feedback-form .form-control {
	background:none;
	border-color:#23b79a !important;
}
.feedback-form .form-control:focus {
	border-color:#23b79a !important;
	background:#fff;
}
.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
    color: #111;
}
.has-error .help-block {
    color: #ee7c68;
	font-size: 12px;
}


/* Feedbacks */
.feedbacks {
    margin: 20px auto 30px;
	width:950px;
}
.feedback {
	margin-bottom:20px;
}
.feedback-details {
	padding:25px;
	margin-right:30px;
	float:left;
	width:250px;
	background:#fff;
}
.feedback-icon {
	display:block;
	margin-bottom:10px;
	float:left;
	margin-right:10px;
}
.feedback-name {
	overflow:hidden;
}
.feedback-name p {
	font-family: "intro_bold";
	font-size:15px;
	text-transform:uppercase;
	margin-bottom:4px;
	line-height:1.3;
}
.date {
	font-size:12px;
	color:#95A5A6;
}
.feedback-source {
	font-size:13px;
	color:#646c6d;
	margin-top:10px;
	border-top:1px solid #C7D3D8;
	padding-top:10px;
}
.feedback-content {
	padding:30px;
	background:#fff;
	position:relative;
	float:left;
	width:670px;
	font-size:13px;
}
.feedback-content:before {
	position:absolute;
	display:block;
	font-family:"FontAwesome";
	content:'\f0d9';
	font-size:50px;
	top:29px;
	left:-15px;
	color:#fff;
}
.feedback-rating {
	padding-bottom:20px;
	margin-bottom:15px;
	border-bottom:1px solid #C7D3D8;
}
.feedback-rate {
	display:inline-block;
	margin-left:6px;
}
.feedback-rate .fa {
	font-size:16px;
	color:#e84b3a;
	margin-right:2px;
}
.feedback-content p {
	margin-bottom:0;
}
.feedback-content .fancybox {
	float:left;
	margin-right:25px;
	border:1px solid #eee;
	border-bottom:4px solid #2298CF;
}
.feedback-content .fancybox img {
	width:70px;
}
.rating-group {
	margin:20px 0;
}
.rating-input {
	margin-top:5px;
}
.rating-group .fa {
	font-size:30px;
	color:#e84b3a;
	margin-right:2px;
	cursor:pointer;
}




/* Company features */
.company-features {
	padding:60px 0 10px;
	background:#fff;
}
.company-features .small-header h4 {
	font-size:20px;
}
.company-features .small-header {
	margin:0 0 50px;
}
.feature {
	text-align:center;
}
.feature h4 {
	margin:20px 0;
	text-transform:none;
	font-size:25px;
	letter-spacing:-.4px;
}
.feature p {
	font-size:13px;
	color:#56676b;
	margin-bottom:50px;
}




/* Contacts */
.contacts {
	padding:20px 0;
}
.contacts table {
	width:100%;
	background:#fff;
}
.contact-info {
	padding:35px;
	vertical-align:top;
	text-align:center;
}
.contact-info hr {
	border-color:#C7D3D8;
}
.contact-info .btn-info {
    padding: 14px 15px;
    font-size: 12px;
}
.contact-form {
	padding:35px 45px;
	vertical-align:top;
	width:590px;
	border-left:20px solid #E9F1F3;
}
.contact-form h4 {
    font-size: 20px;
    color: #726955;
}
.contacts .form-control:focus {
	background:#fff;
}


.map *, .map *:before, .map *:after {
    box-sizing:content-box !important;
}
.dg-control-round__icon {
	left:0;
}
#map {
	height:500px;
	position:relative;
	z-index:0;
}




/* Gallery */
#gallery-grid {
	padding:44px 0 20px;
	background:url("") no-repeat center top;
}
.gallery-item {
	width:25%;
	padding:0 10px 20px;
	display:block;
	position:relative;
	text-decoration:none !important;
	overflow:hidden;
}
.gallery-item a {
	display:block;
	border:none;
	width:32px;
	height:32px;
	border-radius:32px;
	background:url("") no-repeat center #23b79a;
	position:absolute;
	left:25px;
	top:15px;
	z-index:1;
}
.gallery-item a:hover {
	background-color:#e84b3a;
}
.gallery-item_info {
	/*position:relative;
	bottom:0;
	right:0;
	left:0;*/
	padding:18px 20px;
	background:#fff;
	line-height:1.3;
	font-weight:600;
}
.gallery-item-img {
	overflow:hidden;
}
.gallery-item-img img {
	-webkit-transition:all .2s ease;
	transition:all .2s ease;
}
.gallery-item:hover img {
	-webkit-transform:scale(1.1,1.1);
	transform:scale(1.1,1.1);
}

#tendery-form{
  padding: 20px 0px 50px 0px;
}
.hidden-info{
  display: none;
}
@media all and (max-width: 1200px){
	.container{
		width: 980px!important;
	}
	.small-nav li{
		margin-right: 9px;
	}
	.small-nav li a{
		font-size: 12px;
	}
	.big-nav li a{
		font-size: 13px;
	}
}
/* Media queries */
@media all and (max-width:1024px) {
	.contacts .table-responsive{
		width: 100%;
	}
	.center__btn{
		text-align: center;
	}
	.feedback-content{
		overflow: hidden;
	}
	.mobile__menu--button{
		padding-bottom: 15px;
	}
	.mobile__menu{
		display: block!important;
	}
	.mobile__menu--address{
		padding: 18px 0;
		text-align: center;
		margin: 0;
		color: #000;
	}
	.mobile__menu--phones{
		text-align: center;
		padding: 0 0 7px;
	}
	.mobile__menu--cphones{
		margin-bottom: 14px; 
	}
	.mobile__menu--cphones a{
		color: #000;
		text-decoration: none;
		display: block;
		font-size: 18px;
	}
	.mobile__menu--address span{
		display: block;
		text-align: center;
	}
	html, body{
		height: auto;
	}
	header > .container{
		display: none;
	}
	body > .row.wrapper{
		padding-top: 50px;
	}
	.header{
		position: fixed;
		z-index: 100;
		height: auto;
		border: none;
		left: 0;
		top: 0;
		width: 100%;
	}
	.mobile-header{
		display: -webkit-box!important; 
		display: -moz-box!important;
		display: -ms-flexbox!important;
		display: -webkit-flex!important; 
		display: flex!important;
		-webkit-box-align: center;
		-moz-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		min-height: 50px;
		position: relative;
	}
/* 	.mobile-header__logo {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
} */
	.mobile-header__logo img{
		max-height: 40px;
	}
	.mobile-header__menu{
		cursor: pointer;
	}
	.mobile-header__menu, .mobile-header__phone{
		padding: 13px;
	}
	.mobile-header__menu i, .mobile-header__phone i{
		font-size: 18px;
		color: #fff;
	}
	.container {
		width: 100%!important;
	}
	.page-content .container{
		padding: 0 5px;
	}
	.step-block{
		padding: 10px;
	}
	.nav-tabs > li{
		width: 100%;
		float: none;
		padding: 5px 0;
	}
	.left-block{
		float: none;
		width: 100%;
		margin: 5px 0;
	}
	.footer .col-xs-3{
		width: 100%;
		float: none;
	}
	 .company-features .col-xs-4{
		width: 50%;
	}
	.feature + .clearfix {
		display: none!important;
	}
	.main-slider__block > div{
		height: 190px!important;
	}
	.main-slider__block > center p{
		font: 400 14px/18px Roboto, sans-serif!important;
		color: #000;
		margin: 0 0 10px;
		padding: 0 10px;
	}
	.feature h4{
		font: 700 18px Roboto, sans-serif;
		margin: 15px 0;
	}


	.clients__items div{
		float: none;
		width: 33.3%;
	}
	.company-features__bloks > div{
		float: none;
		padding: 0 10px;
	}
	.feature p{
		margin-bottom: 10px;
	}
	button, .btn{
		padding: 12px 17px;
		font: 300 14px Roboto, sans-serif;
	}
	.company-features{
		padding: 15px 0;
	}
	.company-features .small-header h4, .clients h4, .small-header h4{
		font: 400 14px Roboto, sans-serif!important;
		padding: 0 10px;
	}
	.company-features .small-header{
		margin: 0 0 15px;
	}
	.clients .small-header{
		margin-bottom: 5px;
	}
	.client-logo img{
		margin: 7px auto;
	}
	.clients {
		padding: 8px 0;
	}
	body{
		font-family: Roboto, sans-serif;
	}
	.footer{
		padding: 0 0 10px;
	}
	.footer br, .footer hr{
		display: none!important;
	}
	.copyright{
		font: 400 12px Roboto, sans-serif;
		padding: 7px 15px 0;
		text-align: center;
	}
	.copyright span{
		display: block;
	}
	.remove-mobile{
		display: none;
	}
	.footer .footer__contact{
		text-align: center;
		padding-top: 15px!important;
	}
	.footer__contact p strong{
		font-size: 15px;
	}
	.footer__contact p span{
		display: block;
	}
	.footer .col-xs-3{
		padding: 0;
	}
	.footer__contact h4{
		font: 500 16px Roboto, sans-serif;
		margin: 0 0 15px;
	}
	.footer__contact p{
		font: 400 15px Roboto, sans-serif;
		margin: 0 0 6px;
	}
	.footer .organization-info__button{
		font: 400 14px Roboto, sans-serif;
		margin: 7px 0 10px;
		padding: 12px 10px;
	}
	.organization-info__mail span{
		display: block;
	}
	.organization-info__mail a{
		font-weight: 700;
		display: inline-block;
		margin-bottom: 5px;
	}
	.footer__menu:first-child{
		border-top: 1px solid #b9b9ac;
	}
	.footer__menu{
		border-bottom: 1px solid #b9b9ac;
	}
	.footer__menu h4{
		padding: 12px 0 12px 25px;
		font: 500 16px Roboto, sans-serif;
		margin: 0;
		position: relative;
		cursor: pointer!important;
	}
	.footer__menu h4:after{
	  font: 22px 'sibir-cleaning' !important;
	 content: "\f105";
	  position: absolute;
	  top: 50%;
	  right: 15px;
	  -webkit-transform: translateY(-50%);
	  -ms-transform: translateY(-50%);
	  -o-transform: translateY(-50%);
	  transform: translateY(-50%);
	
	}
	.footer__menu.in h4:after{
	  -webkit-transform: translateY(-50%) rotate(90deg);
	  -ms-transform: translateY(-50%) rotate(90deg);
	  -o-transform: translateY(-50%) rotate(90deg);
	  transform: translateY(-50%) rotate(90deg);
	}
	.footer__menu.in{
		padding-bottom: 10px;
	}
	.footer__menu.in .footer-nav{
		max-height: 300px;
		visibility: visible;
	}
	.footer-nav{
		-webkit-transition: all .25s ease;
		-o-transition: all .25s ease;
		transition: all .25s ease;
		max-height: 0;
		overflow: hidden;
		visibility: hidden;
	}
	.footer-nav{
		margin-left: 25px;
		border-left: 1px solid #b9b9ac;
	}
	.footer-nav li a{
		text-decoration: none;
		display: block;
		margin: 0;
		padding: 7px 0 7px 25px;
		border: none;
		text-transform: uppercase;
	}
	.mobile__menu{
		height: 100%;
		position: fixed;
		overflow-y: auto;
		background: #fff;
		z-index: 99;
		top: 0;
		width: 280px;
		padding: 50px 0 0;
	}
	.mobile__phone{
		width: 275px;
		position: fixed;
		top: 50px;
		display: block!important;
		z-index: 100;
		background: #fff;
	}
	.mobile__phone .mobile__menu--phones a{
		color: #000;
		display: block;
		font-size: 18px;
	}
	.mobile__menu--mail{
		text-align: center;
		margin: 0;
		padding: 0 0 15px;
	}
	.mobile__menu--mail span{
		display: block;
	}
	.mobile__menu--back, .mobile__phone--back{
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(225, 225, 225, 0.6);
		z-index: 98;
	}
	.header__nav ul{
		position: static;
	}
	.header__nav ul li{
		display: block;
		border-bottom: 1px solid #000;
		border-right: 1px solid #000;
		margin: 0;
	}
	.header__nav ul li a{
		color: #000!important;
		padding: 7px 0 7px 25px;
		border: none;
		font: 400 14px Roboto, sans-serif;
		position: relative;
		border-bottom: none!important;

	}
	.header__nav .big-nav li a{
		text-decoration: underline!important;
	}
	.header__nav li a:after{
		  font: 20px 'sibir-cleaning' !important;
		 content: "\f105";
		  position: absolute;
		  top: 50%;
		  right: 15px;
		  -webkit-transform: translateY(-50%);
		  -ms-transform: translateY(-50%);
		  -o-transform: translateY(-50%);
		  transform: translateY(-50%);
	}
	.right-block{
		width: 100%;
		float: none;
		margin: 0;
		order: 5;
	}
	h1{
		font: 700 18px Roboto, sans-serif;
		padding: 0 10px;
	}
	.step-block h4{
		font: 500 16px Roboto, sans-serif;
		margin: 0 0 10px;
	}
	.service .btn{
		margin-bottom: 15px;
	}
	br{
		display: none!important;
	}
	h3, h2{
		font: 700 16px Roboto, sans-serif;
	}
	.service h2{
		margin-bottom: 10px;
	}
	.service {
		border: none!important;
	}
	.service .button{
		margin-bottom: 15px;
	}
	ul{
		padding-left: 15px;
	}
	.page-head{
		    padding: 20px 0;
	}
	.step-block b span{display: inline-block;}
	.square{
		margin-top: 10px;
		text-align: center;
	}
	.step-block{
		border-width: 5px;
	}
	.step-header{
		margin-bottom: 10px;
	}
	.square label{
		display: block;
		position: static;
	}
	.step-block .col-xs-6{
		width: 100%;
		float: none;
		padding: 0;
	}
	.right-block > div{
		margin-bottom: 10px;
	}
	.simple-page {
		margin: 5px auto;
	}
	#tendery-form {
	    padding: 5px 0 15px;
	    width: 100%;
	}
	.faq-block {
		padding: 13px;
	}
	.feedbacks{
		width: 100%;
		margin: 10px 0;
	}
	.feedback-details{
		float: none;
		margin: 0;
		width: 100%;
		padding: 15px 15px 0;
	}
	.feedback-source{
		padding-bottom: 10px;
	    border-bottom: 1px solid #c7d3d8;
	}
	.feedback {
	    margin-bottom: 15px;
	}
	.feedback-form{
		padding: 15px;
		width: 100%;
	}
	.feedback-form h3{
		padding-top: 7px;
	}
	.feedback-content{
		padding: 15px;
		width: 100%;
		float: none;
	}
	.feedback-content:before{
		content: none;
	}
	#gallery-grid{
		position: relative;
		height: auto!important;
		padding-bottom: 10px;
	}

	.gallery-item, .faq{
		width: 50%;
		position: relative!important;
		left: auto!important;
		top: auto!important;
		right: auto!important;
		bottom: auto!important;
		padding: 5px;
	}
	.gallery-item{
		width: 25%;
	}
	#faq-grid{
		margin-top: 10px;
	}
	.faq-info{
		width: 100%;
		padding: 15px;
	}
	.faq-info .small-header {
	    margin: 5px 0;
	}
	.faq-info h2{
		margin-bottom: 5px;
	}
	.faq{
		width: 100%;
	}
	.service{
		padding: 0;
	}
	.gallery-item a{
		width: 45px;
		height: 45px;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	.gallery-item:hover img{
		-webkit-transform: none!important;
		-ms-transform: none!important;
		-o-transform: none!important;
		transform: none!important;
	}
	.page-content.contacts  tr, .page-content.contacts td,
	.page-content.contacts table, .page-content.contacts tbody{
		display: block;
	}
	.company-features__bloks, .clients__items, .page-content .container, #gallery-grid, .page-content.contacts  tr{
		display: -webkit-box; 
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex; 
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.page-content.contacts  .contact-info{
		order: 2;
		width: 100%;
	} 
	.page-content.contacts tr{
		width: 100%;
	}
	hr{
		margin: 10px 0;
	}
	.contact-form{
		margin: 10px auto 0;
		width: 100%;
		border: none;
	}
	#feedback-form .col-xs-6{
		width: 100%;
		padding: 0;
	}
	.contact-info, .contact-form{
		padding: 15px;
	}
	.contact-info{
		margin-bottom: 10px;
	}
	.contacts{
		padding: 10px 0 0;
	}
	#map{
		height: 250px;
	}
	.contacts .table-responsive{
		margin-bottom: 0;
	}
	.contact-info br{
		display: block!important;
	}
	.feedbacks > a.fancybox.btn {
		margin: 0 auto;
		display: block;
		max-width: 235px;
	}
	.footer .table-responsive{
		border: none;
		margin: 0;
	}
	.main-slider__block > div{
		margin-bottom: 10px;
	}
	.table-responsive + .clearfix{
		text-align: center;
	}
	.gallery-item-img .img-responsive{
		margin: 0 auto;
		width: 100%;
	}

}
@media all and (max-width: 768px){
	.gallery-item{
		width: 50%;
	}
}
@media all and (max-width: 365px){
	.footer__contact p{
		font-size: 14px;
	}
}


